body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav a {
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  section {
    margin: 50px;
  }

  .fit{
    resize: 20%;
  }
  
  section h2 {
    text-align: center;
  }
  
  article {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  aside figure {
    float: right;
    margin-left: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  